/* Catppuccin Mocha Colors */
@define-color bg #1e1e2e;
@define-color bg-alt #181825;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color fg #cdd6f4;
@define-color fg-alt #a6adc8;
@define-color fg-dim #bac2de;

@define-color accent #89b4fa;
@define-color accent-alt #b4befe;
@define-color red #f38ba8;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color blue #89b4fa;
@define-color magenta #cba6f7;
@define-color cyan #94e2d5;
@define-color orange #fab387;
@define-color pink #f5c2e7;
@define-color teal #94e2d5;
